<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tooltip.css">
</head>

<body>


    <div class="bar">
        <span>Bar...

            <div class="tooltip">
                Tooltip...
            </div>


        </span>

        <!--<button class="btn">Ein</button>
    <button class="btn">Zwei</button>
    <button class="btn">Drei</button>-->




        <div class="block-btns" >

            <button class="btn btn1">Ein</button>
            <button class="btn btn2">Zwei</button>
            <button class="btn btn3">Drei</button>

            <div class="tp tp1">tp1 button...</div>
            <div class="tp tp2">tp2 button...</div>
            <div class="tp tp3">tp3 button...</div>




        </div>


    </div>




</body>

</html>