<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>

   <link rel="stylesheet" href="audio.css">
</head>

<body>

   <div class="mus">
       <div class="mus-title">
           <b>Midnight City</b>
           <br/>
           <span>M88</span>
       </div>
       <div class="mus-bar">
         <div class="mus-prog" style="width: 60%"></div>
       </div>
        <div class="mus-ctrl"> ⏮️ &nbsp; ▶️ &nbsp; ⏭️</div>
   </div>

</body>

</html>