.input-field{

    outline: none;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 90%;
    max-width: 300px;

    

}

.input-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.3);
}