<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pure.css">
</head>

<body>

    <header class="">
        <nav class="">
            <a href="#" class="logo" id="logo">Logo</a>
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

    </header>

    <main class="">

        <div class="b-border card-full">

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem porro, voluptate eum et explicabo
                recusandae quos doloribus dolor veniam aut dignissimos, voluptatum adipisci, consectetur mollitia fuga
                quo dolore voluptates.
            </p>

        </div>

        <div class="b-border card-full-2">

            <div class="left">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem porro, voluptate eum et
                    explicabo recusandae quos doloribus dolor veniam aut dignissimos, voluptatum adipisci, consectetur
                    mollitia fuga quo dolore voluptates.
                </p>
            </div>
            <div class="right">

            </div>

        </div>

        <div class="b-border card-full-2">

            <div class="right">

            </div>

            <div class="left">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rem porro, voluptate eum et
                    explicabo recusandae quos doloribus dolor veniam aut dignissimos, voluptatum adipisci, consectetur
                    mollitia fuga quo dolore voluptates.
                </p>
            </div>

        </div>

        <div class="block-cards">

            <div class="card-small  b-border">


                <div class="img-small"></div>
                <div class="bottom">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>


            </div>
            <div class="card-small b-border">
                <div class="img-small"></div>
                <div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.

                    </p>
                </div>
            </div>
            <div class="card-small b-border">
                <div class="img-small"></div>
                <div>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.

                    </p>
                </div>
            </div>
        </div>


    </main>

    <footer class="b-border">
        <p>2026 By Mostafa</p>

    </footer>


    <script>
        const btn = document.getElementById("logo")
        let isDarkMode = false;

        btn.addEventListener('click', () => {
            if (isDarkMode) {
                document.body.style.backgroundColor = "#fff";
                //document.body.style.color = "#000"; // Optional: make text readable on white

                isDarkMode = false;
            } else {
                document.body.style.backgroundColor = "#333";
                //document.body.style.color = "#fff"; // Optional: make text readable on dark
                isDarkMode = true;
            }

            document.body.style.fontSize = "1.9rem"
            
        });
    </script>
</body>

</html>