

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.navbar {
  background-color: #ffc0cb;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}


.hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    display: block; 
}

.nav-links {
   display: none;
   width: 100%;
   position: absolute;
   top: 50px;
   left: 0;
   background-color: #ffc0cb;
   text-align: center;
   padding-bottom: 10px; 

}

.nav-links a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-top: 1px solid #ffb6c1;
}

.nav-links.active {
    display: block;
}

