
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
    margin: 0;
    font-family: sans-serif;


}

.box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;

}

input, button {
    margin: 10px 0;
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;

}



button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}